<script src="{{ site.data.origin['cors'].jquery.js | relative_url }}"></script>
<script>
    jQuery(function () {
        jQuery.ajax({
            url: "https://views.whatilearened.today/views/github/{{ site.github.username }}/{{ site.github.username }}.github.io{{ page.url | replace: "/", "_" }}views.svg",
            type: "GET",
            dataType: "xml",
            success: function (svgXml) {
                var views = $(svgXml).find("text").last().text();
                console.log("Views count: " + views);
                jQuery("#pageviews em").text(views);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error("Failed to get views count");
                jQuery("#pageviews").remove();
            }
        });
    });
</script>

<span id="pageviews">
  <em id="pv" class="pageviews">
    <i class="fas fa-spinner fa-spin small"></i>
  </em>
  {{ site.data.locales[site.lang].post.pageview_measure }}
</span>